.awards-and-recognition {
  background-color: $blue;
  color: $white;
  position: relative;

  @media (min-width: 992px) {
    overflow: unset;
  }

  h2 {
    margin-bottom: 30px;
  }

  .award-img {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 992px) {
      position: absolute;
      bottom: 0;
      transform: translate(0%, 0%);
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }

    @media (max-width: 991.98px) {
      margin-bottom: -80px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: -60px;
    }

    @media (max-width: 575.98px) {
      margin-bottom: -50px;
    }
  }

  &-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    &:not(:last-of-type) {
      .content {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($white, 0.1);

        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .btn {
      border-color: rgba($white, 0.1);
      color: $white;

      &::before {
        background-color: $white;
      }

      &:hover {
        color: $black;

        &::before {
          background-color: $white;
        }
      }
    }
  }
}
