.benefits {
  background: #f0f6ff;

  h2 {
    color: $black;
  }

  .section {
    &-header {
      margin-bottom: 60px;
      text-align: center;
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 991.98px) {
        margin-bottom: 40px;
      }
    }

    &-img {
      aspect-ratio: 1 / 1;
      overflow: hidden;
      border-radius: 8px;

      img {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
