.business {
  &-bg-blue {
    background-color: #f0f6ff;
  }

  .content {
    max-width: 380px;
    margin-bottom: 30px;

    @media (min-width: 576px) {
      margin-bottom: 0px;
    }
    h2 {
      font-weight: 400;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: -0.02em;
      margin-bottom: 24px;

      @media (max-width: 575.98px) {
        font-size: 32px;
        line-height: 42px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 30px;
    }
    .btn {
      &:hover {
        color: $blue;
        background-color: $blue;
        border: 1px solid $blue;
        svg {
          path {
            fill: $blue;
          }
        }
        &::before {
          background-color: $white;
        }
      }
    }
  }
  .img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
