.case_studies {
  overflow: hidden;
  position: relative;
  margin-top: -1px;

  .section {
    &_header {
      margin-bottom: 2.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &_title {
      h2 {
        color: $white;
        margin-bottom: 0;

        @media (max-width: 575.98px) {
          font-size: 32px;
          line-height: 42px;
        }
      }
    }
  }
  

  .nh-dropdown {
    margin-bottom: 4rem;    

    &-menu {
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #000;
    z-index: -1;
  }

  .swiper-button-prev {
    border-color: rgba($white, 0.4);

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.8);
      background-color: #4d4d4d;
    }
    @media (max-width: 575.98px) {
      display: none;
    }
  }
  .swiper-button-next {
    border-color: rgba($white, 0.4);

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.8);
      background-color: #4d4d4d;
    }

    @media (max-width: 575.98px) {
      display: none;
    }
  }
  .mySwiper {
    --container-width: 1320px;
    padding-left: calc(((100vw - var(--container-width)) / 2) + 14px);
    @media (max-width: 1399.98px) {
      --container-width: 1140px;
    }
    @media (max-width: 1199.98px) {
      --container-width: 960px;
    }
    @media (max-width: 991.98px) {
      --container-width: 720px;
    }
    @media (max-width: 767.98px) {
      --container-width: 540px;
    }
    @media (max-width: 575.98px) {
      --container-width: 100%;
    }
    .swiper-wrapper {
      margin-bottom: 100px;
      @media (max-width: 575.98px) {
        margin-bottom: 50px;
      }
    }
    .swiper-slide {
      width: 300px;
    }
  }

  .case_studies_item {
    .case_studies_img {
      margin-bottom: 20px;

      a {
        display: block;
        overflow: hidden;
        border-radius: 1rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 300ms;
      }

      &:hover {
        img {
          transform: scale(1.125);
        }
      }
    }
    .case_studies_content {
      a {
        text-decoration: none;
        transition: all 0.3s ease;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #000000;
        margin-bottom: 13px;
        display: block;
        &:hover {
          color: $blue;
        }
        @media (max-width: 575.98px) {
          font-size: 18px;
          line-height: 30px;
        }
      }
      .tag {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          padding: 5px 12px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 50px;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #4d4d4d;
          margin-right: 5px;
          transition: all 0.3s ease;
          &:hover {
            background-color: $blue;
            color: $white;
          }
        }
      }
    }
  }

  &_alt {
    .download-portfolio-card {
      margin-block: 60px;
      background-color: $black;
      color: $white;
      border-radius: 0.5rem;

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;

        &:hover {
          svg {
            path {
              fill: $black;
            }
          }
        }
      }

      .card-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding: 28px 40px;

        @media (max-width: 991.98px) {
          flex-direction: column;
          text-align: center;
        }

        @media (max-width: 575.98px) {
          padding: 16px 24px;
        }

        h3 {
          max-width: 588px;
          color: #f2f2f2;
          margin-bottom: 0.625rem;
          font-size: 28px;
          font-weight: 400;
        }

        p {
          max-width: 588px;
          color: rgba($white, 0.8);

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    .btn-primary {
      flex-shrink: 0;

      &:hover {
        color: $black;

        &::before {
          background-color: $white;
        }
      }
    }
  }

  &_details {
    &::before {
      display: none;
    }

    .section_header {
      display: block;
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 40px;

      h2 {
        color: $black;
      }
    }

    .swiper {
      padding: 0;

      &-wrapper {
        margin-bottom: 0 !important;
      }

      &-slide {
        width: auto;
      }

      &-button-prev,
      &-button-next {
        position: absolute;
        top: 40%;
        background-color: rgba($white, 0.2);
        border-color: rgba($black, 0.4);

        &:hover {
          background-color: rgba($white, 0.2);
          border-color: rgba($black, 0.4);
        }
      }

      &-button-prev {
        left: 0;
        transform: translate(-125%, 0%);

        @media (max-width: 1199.98px) {
          transform: translate(-50%, 0%);
        }
      }

      &-button-next {
        right: 0;

        transform: translate(125%, 0%);

        @media (max-width: 1199.98px) {
          transform: translate(50%, 0%);
        }
      }
    }
  }
}
