.collapse-trigger {
  cursor: pointer;

  .icon-down {
    svg {
      transition: transform 300ms;
    }
  }

  &.active {
    .icon-down {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.nh-collapse {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms;

  & > div {
    overflow: hidden;
  }

  &.show {
    grid-template-rows: 1fr;
  }
}
