.great-attention {
  .section-content {
    position: sticky;
    top: 0;
  }

  .section-title {
    @media (max-width: 767.98px) {
      margin-bottom: 0;
    }
  }

  .accordion {
    @media (max-width: 767.98px) {
      margin-bottom: 50px;
    }
  }

  .btn {
    &:hover {
      color: $black;
      &::before {
        background-color: $white;
      }
    }
  }
}
